<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="#!">Logo</a>
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        <li>
          <a href="#!">Home</a>
        </li>
        <li>
          <a href="#!">About</a>
        </li>
        <li>
          <a href="#!">Services</a>
          <ul class="nav-dropdown">
            <li>
              <a href="#!">Web Design</a>
            </li>
            <li>
              <a href="#!">Web Development</a>
            </li>
            <li>
              <a href="#!">Graphic Design</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">Pricing</a>
        </li>
        <li>
          <a href="#!">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
<!-- <div class="nav-bar">
	<h5 style="text-align: center; color:#f2f2f2 ">
		<a href="{{site.baseurl}}/"> Overview </a> &nbsp;  &nbsp; | &nbsp;  &nbsp;  
		<a href="{{site.baseurl}}//tutorial/"> Tutorial </a>   &nbsp;  &nbsp; | &nbsp;  &nbsp; 
		<a href="{{site.baseurl}}/simulations/"> Simulations </a>  &nbsp;  &nbsp; | &nbsp;  &nbsp; 
		<a href="{{site.baseurl}}/examples/"> Real Data Examples </a>  &nbsp;  &nbsp; | &nbsp;  &nbsp; 
		<a href="{{site.baseurl}}/usecases/"> Other Use Cases </a>  &nbsp;  &nbsp; | &nbsp;  &nbsp; 
		<a href="{{site.baseurl}}/data/"> Data </a>   &nbsp;  &nbsp; | &nbsp;  &nbsp; 
		<a href="{{site.baseurl}}/contact/"> Contact </a>
	</h5>
</div> -->
