<div class="nav-bar">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" media="screen" href="_sass/style.css" />
		<script src="main.js"></script>
	</head>
	<body>
	</body>

	    <ul>
        <li><a>Overview</a></li>
        <li><a>Tutorial</a></li>
        <li><a>Examples</a>          
             <ul> 
                <li><a>Simulations</a></li>
                <li><a>Real Data with Continuous Trajectory</a></li>
                <li><a>Real Data with Discrete Clusters</a></li>
                <li><a>Real Data with No Correspondences</a></li>
                <li><a>Real Data with Unbalanced Clusters</a></li>
                <li><a>Fully Unsupervised Setting</a></li>
            </ul>  
        </li>
        <li><a>Data</a>
        <li><a>Contact</a></li>
    </ul>
<!-- 	<h5 style="text-align: center; color:#f2f2f2 ">
		<a href="{{site.baseurl}}/"> Overview </a> &nbsp;  &nbsp; | &nbsp;  &nbsp;  
		<a href="{{site.baseurl}}//tutorial/"> Tutorial </a>   &nbsp;  &nbsp; | &nbsp;  &nbsp; 
		<a href="{{site.baseurl}}/simulations/"> Simulations </a>  &nbsp;  &nbsp; | &nbsp;  &nbsp; 
		<a href="{{site.baseurl}}/examples/"> Real Data Examples </a>  &nbsp;  &nbsp; | &nbsp;  &nbsp; 
		<a href="{{site.baseurl}}/usecases/"> Other Use Cases </a>  &nbsp;  &nbsp; | &nbsp;  &nbsp; 
		<a href="{{site.baseurl}}/data/"> Data </a>   &nbsp;  &nbsp; | &nbsp;  &nbsp; 
		<a href="{{site.baseurl}}/contact/"> Contact </a>
	</h5> -->
</div>
