<div class="navbar">
  <a href="{{site.baseurl}}/">Overview</a>
  <a href="{{site.baseurl}}/tutorial">Tutorial</a>
  <a href="{{site.baseurl}}/tutorial">Simulations</a>
  <div class="dropdown">
    <button class="dropbtn">Examples with Real Data ▾
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{{site.baseurl}}/examples">Real Data with Continuous Trajectory</a>
      <a href="{{site.baseurl}}/examples">Real Data with Discrete Clusters</a>
      <a href="{{site.baseurl}}/examples">Real Data with Unbalanced Clusters</a>
    </div>
  </div>
  <a href="{{site.baseurl}}/tutorial">Fully Unsupervised Alignment</a>
  <a href="{{site.baseurl}}/data">Data</a>
  <a href="{{site.baseurl}}/contact">Contact</a>
</div>
<!-- <section class="navigation">
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="nav.js"></script>
  <div class="nav-container">
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href=""><span></span></a>
      </div>
      <ul class="nav-list">
        <li>
          <a href="{{site.baseurl}}/">Overview</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/tutorial">Tutorial</a>
        </li>
        <li>
          <a href="">Examples</a>
          <ul class="nav-dropdown">
            <li>
              <a href="{{site.baseurl}}/simulations">Simulations</a>
            </li>
            <li>
              <a href="{{site.baseurl}}/examples">Real Data with Continuous Trajectory</a>
            </li>
            <li>
              <a href="{{site.baseurl}}/examples">Real Data with Discrete Clusters</a>
            </li>
            <li>
              <a href="{{site.baseurl}}/usecases">Real Data with Unbalanced Clusters</a>
            </li>
            <li>
              <a href="{{site.baseurl}}/usecases">Fully Unsupervised Alignment Example</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="{{site.baseurl}}/data">Data</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</section> -->

<!-- <div class="nav-bar">
	<h5 style="text-align: center; color:#f2f2f2 ">
		<a href="{{site.baseurl}}/"> Overview </a> &nbsp;  &nbsp; | &nbsp;  &nbsp;  
		<a href="{{site.baseurl}}//tutorial/"> Tutorial </a>   &nbsp;  &nbsp; | &nbsp;  &nbsp; 
		<a href="{{site.baseurl}}/simulations/"> Simulations </a>  &nbsp;  &nbsp; | &nbsp;  &nbsp; 
		<a href="{{site.baseurl}}/examples/"> Real Data Examples </a>  &nbsp;  &nbsp; | &nbsp;  &nbsp; 
		<a href="{{site.baseurl}}/usecases/"> Other Use Cases </a>  &nbsp;  &nbsp; | &nbsp;  &nbsp; 
		<a href="{{site.baseurl}}/data/"> Data </a>   &nbsp;  &nbsp; | &nbsp;  &nbsp; 
		<a href="{{site.baseurl}}/contact/"> Contact </a>
	</h5>
</div> -->
